<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="\main.css">
    <style>
      :root{
        scroll-behavior:auto
      }
    </style>
</head>
<%- include('nav.ejs') %>
<body>
    <div class="section2" style="display: flex;justify-content: center; height: 100vh;">
    <div style="color: white; width: 90%;margin-top: 80px;">
    <div class="container p-3 detail">
        <div class="row">
          <div class="col-3" style="padding: 0 8px 0 0;">
            <ul class="list-group chat-list" id="kk">
                <% for (let i = 0; i < data.length; i++ ){%>
                    <li class="list-group-item" data-id="<%= data[i]._id %>" data-i="<%= i %>" 
                      data-cnt=0>
                        <h6 style="font-size: 15px;"><%= data[i].title %></h6>
                        <button style="margin: auto; display: block;" class="dele" data-id="<%= data[i]._id %>">
                          <ion-icon style="font-size: 20px; color: white;"
                          name="trash-outline"></ion-icon>
                        </button>
                    </li>
                <%}%>
             </ul>
           </div>
      
           <div class="col-9 p-0" >
             <div class="chat-room" style="background: rgba(0, 0, 0, 0.2);">
                <ul class="list-group chat-content">
                  <div class="infomation">
                    <p style="font-weight: bold; color: red;
                    padding: 5px; font-size: 20px;">⛔사용방법⛔<br>
                      1. 왼쪽 선택창에서 채팅방을 선택하세요<br>
                    </p>
                  </div>
                </ul>
              <div class="input-group">
                <input class="form-control" style="background: rgba(0, 0, 0, 0.5);
                border: 1px solid grey; color: white;" id="chat-input"
                placeholder="엔터 누르면 전송">
                <button class="btn chat-btn" style="padding: 0px;" id="send">
                  <ion-icon style="color: white; padding-top: 5px; font-size: 25px;" 
                  name="paper-plane-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
    </div> 
  </div>
    <script type="module">
      import {makeSnowflake2} from '/snow.js';
      window.onload = function(){
          for (let i = 0; i < 40; i++){
              setTimeout(makeSnowflake2(), 500 * i);
          }
      }       
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        var 지금누른채팅방id
        var 채팅방삭제id
        var eventSource;
        var cnt;
        if('<%= arrow %>'!=0){

          let a = Array.from(document.querySelectorAll('.list-group-item'));
          a.forEach((i,b)=>{
            if(i.dataset.id=='<%= arrow %>'){
              setTimeout(()=> $(i).trigger('click') ,200) //********************
            }
          })
        } else {
        }
        
        $('.list-group-item').click(function(e){
          지금누른채팅방id = this.dataset.id;
          $('.chat-content').html('');
          if(eventSource != undefined){
            eventSource.close()
          }
          var 현재사람 = '<%= cur %>';
          eventSource = new EventSource('/message/' + 지금누른채팅방id); // get요청
          eventSource.addEventListener('test', function(e){
            
            var 가져온거 = JSON.parse(e.data);
            가져온거.forEach(function(i){
              if(i.userid==현재사람){
                $('.chat-content').append('<li><span class="chat-box mine">'+i.content+'</span></li>')
                $('.chat-content').append('<li><span class="mine time-box">'+i.date+'</span></li>')
              } 
              else {
                $('.chat-content').append('<li><span class="chat-box">'+i.content+'</span></li>')
                $('.chat-content').append('<li><span class="time-box">'+i.date+'</span></li>')
              }
            })
            var 실제높이 = document.querySelector('.chat-content').scrollHeight;
            $('.chat-content').scrollTop(실제높이+100); // 여기서 스크롤맨밑으로 (데이터를 수신했을때)
          })
          const elementsToRemove = document.querySelectorAll('.list-group-item');
          elementsToRemove.forEach(a => {
            a.classList.remove('even')
            a.classList.remove('odd')
          })
          document.querySelectorAll('.list-group-item')[this.dataset.i].classList.add('odd');
        })

        $('#send').click(function(){
            var 채팅내용 = $('#chat-input').val();
            var 보낼거 = {
                parent : 지금누른채팅방id,
                content : 채팅내용,
            }
            $.post('/message', 보낼거).done((a) => {
            })
            $('#chat-input').val('');
        })
        $('.input-group').keypress(function(e){
          if (e.keyCode===13){
            var 채팅내용 = $('#chat-input').val();
            var 보낼거 = {
                parent : 지금누른채팅방id,
                content : 채팅내용,
            }
            $.post('/message', 보낼거).done((a) => {
            })
            // $.post('/message', 보낼거).then((a) => {
            // })
            $('#chat-input').val(''); 
          } 
        })

        $('.dele').click(function(e){
          채팅방삭제id = this.dataset.id  
          var 보낼거 = {삭제id : 채팅방삭제id};
          if (confirm('리얼루다가 삭제하시겠슴까?')==true){
            fetch('/deletee', {
            method : 'POST',
            async : false,
            headers : {
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify(보낼거)
            })
            .then((r)=>r.text())
            .then((r)=>{
              location.replace('/chat')
            }) 
          }
        })
        
        $('.form-control').click(function(){
          setTimeout(()=>{
            window.scrollTo(0, 30)
          },200)
        })

    </script>
</body>
</html>