<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="\main.css">
</head>
<%- include('nav.ejs') %>
<body>
    <div class="section2">
        
        <div style="height:60px;"></div>
        <div class="detail-bg">
            <h4 style="font-size: x-large; padding: 5px; margin: 0px; border-top: 1px solid #4a4a4a;
            border-bottom: 1px solid #4a4a4a;"><%= 글목록.title %>
            <p style="float: right; font-size: 14px;padding: 5px; padding-top: 13px; margin: 0px;
            font-weight: normal;color: #212529;"><%= 글목록.date %></p>
            </h4>
            <p style="font-size: small; margin-top: 5px;">작성자:  
                <img style="width: 25px; height: 25px; vertical-align: bottom; margin-right: 2px;" 
                src="https://ddenzubucket.s3.ap-northeast-2.amazonaws.com/<%= 프로필 %>" 
                onerror="this.src='/image/dinosaur.png'"/><%= 글목록.작성자 %></p>
            <div class="img-box">
                <img style="max-width: 330px;" src="<%= 이미지주소 %>"/>
                <video src="<%= 동영상주소 %>" type="video/mp4" controls muted loop autoplay 
                playsinline preload="metadata" 
                style="width: 200px" onerror="this.style.display='none';">
                </video>
            </div>
            <p><%- 글목록.content.replace(/\n/g, '<br/>') %></p>
            <div>
                <div class="like-box">
                    <div id="likee">
                        <span name="like" class="like" data-postId="<%= 글목록._id %>">
                            <ion-icon class="likeIcon" style="color: white; 
                            font-size: 26px;" name="thumbs-up-outline"></ion-icon>
                        </span>
                        <p class="like" style="margin: 0px;"><%= 글목록.like %></p>
                    </div>
                </div>
            </div>
        </div> 

        <div class="comment">
            <!-- <form class="comment-write" action="/comment" method="POST"> -->
                <div class="ccontainer">
                    <div class="comment-bar">
                        <div class="comment-write" style="width:97%;">
                            <textarea style="width: 80%; float: left;" class="comment_2" id="comment-input" placeholder="엔터누르면 줄바꿈"></textarea>
                            <button style="float: right;" id="comment-btn"><ion-icon name="paper-plane-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
            <!-- </form> -->
            <div id="comment-box" style="margin: 0; display: block;">
                <%for (let i=0; i<댓글목록.length; i++){ %>
                    <p style="text-align: left; margin-bottom: 20px; clear: both;">
                        <div class="profile">
                            <div class="profileImage" data-name="<%= 댓글목록[i].username %>" data-id="<%= 댓글목록[i].userId %>">
                                <button style="background: transparent; border: none;">
                                    <a class="btn-a" href="/chatroom?name=<%= 댓글목록[i].username %>&id=<%= 댓글목록[i].userId %>">
                                        <img style="cursor: pointer; width: 25px;height: 25px;object-fit: cover;" src="https:/ddenzubucket.s3.ap-northeast-2.amazonaws.com/<%= 댓글목록[i].userprofile %>"
                                        onerror="this.src='/image/dinosaur.png'" />
                                    </a>
                                </button>
                            </div>
                            <div class="profile2">
                                <div class="profiletext"><%= 댓글목록[i].username %></div>
                            </div>
                        </div>
                        <div id="profile3" class="profile3"><%- 댓글목록[i].content.replace(/\n/g, '<br/>') %>
                            <p style="clear: both"></p>
                            <p class="commentTime">
                                <% var time = dateFormat1.dateFormat(new Date(댓글목록[i].date)) %>
                                <%= time %>
                                <div class="reComment" data-num="<%= i %>">답글</div>
                                <div class="reComment_cancel changeNameVisible" data-num="<%= i %>">취소</div>
                            </p>  
                            <div class="reComment_box changeNameVisible">
                                <textarea class="reComment_input" id="reComment-input" placeholder="엔터누르면 줄바꿈"></textarea>
                                <ion-icon class="reComment_send" name="paper-plane-outline"
                                data-id="<%= 댓글목록[i]._id %>" data-num="<%= i %>"></ion-icon>
                            </div>
                            <div style="clear: both"></div>
                            <%for (let j=0; j<대댓글.length; j++){ %>
                                <% a= JSON.stringify(대댓글[j].parentId) %>
                                <% b= JSON.stringify(댓글목록[i]._id) %>
                                <%if(a==b){%>
                                    <div style="width: 230px; display: flex; margin-top: 8px;">
                                        <div style="display: flex; flex-direction: column;">
                                            <a class="btn-a" href="/chatroom?name=<%= 대댓글[j].username %>&id=<%= 대댓글[j].userId %>">
                                                <img style="cursor: pointer; width: 25px;height: 25px;object-fit: cover;" src="https:/ddenzubucket.s3.ap-northeast-2.amazonaws.com/<%= 대댓글[j].userprofile %>"
                                                onerror="this.src='/image/dinosaur.png'" />
                                            </a>
                                            <div style="width: 25px;text-align: center; margin-top: 0px;" class="profiletext"><%= 대댓글[j].username %></div>
                                        </div>

                                        <div style="display: flex; flex-direction: column;">
                                            <p style="font-size: 13px; margin: 7px 0px 0px 4px; display: block;"><%= 대댓글[j].content %></p>
                                            <% var time1 = dateFormat1.dateFormat(new Date(대댓글[j].date)) %>
                                            <p class="commentTime" style="font-size: 11px; margin: 5px 0px 0px 4px;"><%= time1 %></p>
                                        </div>
                                        <span style="margin: 7px 0px 0px 7px;" name="add" id="commentDel" data-id="<%= 대댓글[j]._id %>"
                                            data-postId="<%= 대댓글[j].postId %>" data-userId="<%= 대댓글[j].userId %>">
                                            <ion-icon style="font-size: 20px; color: #5a545c;" name="trash-outline"></ion-icon>
                                        </span>
                                    </div>
                                <%} %>
                            <%}%>
                        </div>
                        <span name="add" id="commentDel" data-id="<%= 댓글목록[i]._id %>"
                            data-postId="<%= 댓글목록[i].postId %>" data-userId="<%= 댓글목록[i].userId %>">
                            <ion-icon style="font-size: 20px; color: #5a545c;" name="trash-outline"></ion-icon>
                        </span>
                    </p>
                    <div style="clear: both; height: 0px;"></div>
                    <p class="comment-line"></p>
                <% }%>
                
            </div>
        </div>
        <div class="infomation" style="background-color:rgba(0, 0, 0, 0.2);">
        </div>
    </div>
    <script type="module">
        import {makeSnowflake2} from '/snow.js';
        // import {dateFormat} from '/time.js';
        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake2(), 500 * i);
            }
        }       
      </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        var 지금누른작성글id = '<%= 글목록._id %>'
        var 지금누른작성글이름 = '<%= 글목록.title %>'
        var 지금누른작성글 = '<%- 글목록.content.replace(/(?:\r\n|\r|\n)/g, '<br>') %>'
        var 지울거 
        $(document).on("click","span[name='like']", function(e){
            var 보낼거 = {postid : 지금누른작성글id,
            }
            $.post('/add-like', 보낼거).then(()=> {
                reloadLike();
          })
        })
        var box = $(".profile2");
        $('.profile2').change(function(){
        })

        document.querySelector('#comment-btn').addEventListener('click', ()=>{
            var 댓글내용 = $('#comment-input').val()
            var 보낼거 = {
                parent : 지금누른작성글id,
                content : 댓글내용,
            }
            fetch('/comment', {
            method : 'POST',
            async : false,
            headers : {
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify(보낼거)
            })
            .then((r)=>r.text())
            .then((r)=>{
                if(r=="댓글저장"){
                    $('#comment-box').load(location.href+' #comment-box');
                    $('.comment_2').val('');
                } else {
                    alert('내용을 입력해 주세요')
                }
            }) 
        })

        $(document).on("click",".reComment_send", function(e){
            var 댓글내용 = document.querySelectorAll('#reComment-input')[e.target.dataset.num].value;
            document.querySelectorAll('#reComment-input')[e.target.dataset.num].value = '';
            var 보낼거 = {
                parent : 지금누른작성글id,
                reparent : e.target.dataset.id,
                content : 댓글내용,
            }
            fetch('/recomment', {
            method : 'POST',
            async : false,
            headers : {
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify(보낼거)
            })
            .then((r)=>r.text())
            .then((r)=>{
                if(r=="대댓글저장"){
                    $('#comment-box').load(location.href+' #comment-box');
                } else {
                    return 0
                }
            }) 
        })


        $(document).on("click","span[name='add']", function(e){
            if (confirm('리얼루다가 삭제하시겠슴까나리?')==true){
                var 지울거 = {id : this.dataset.id,
                userId : this.dataset.userid}
                fetch('/delete-comment', {
                method : 'POST',
                async : false,
                headers : {
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify(지울거)
                })
                .then((r)=>r.text())
                .then((r)=>{
                    if(r=='서버에러' || r=='fail'){
                        alert('삭제할 수 없습니다')
                    }
                    else {
                        $('#comment-box').load(location.href+' #comment-box');
                    }
                }) 
            }
            else {
                return 0
            }
        }) 
        if(document.querySelector('.profile2').innerHTML.length>2){
            document.querySelector('.profile2').innerText.substr(0,3)
        }

        document.querySelector('.comment-bar').addEventListener('click', ()=>{
            if('<%= 현재접속자 %>'=="noUser"){
                if (confirm('댓글작성을 위해 로그인 페이지로 이동하시겠습니까탈레나')==true){
                    window.location.replace(`/login`) 
                }
            }
        })
        document.querySelector('.reComment_box').addEventListener('click', ()=>{
            if('<%= 현재접속자 %>'=="noUser"){
                if (confirm('댓글작성을 위해 로그인 페이지로 이동하시겠습니까탈레나')==true){
                    window.location.replace(`/login`) 
                }
            }
        })
        function reloadLike(){
            $('#likee').load(location.href+' #likee');
        }

        $(document).on("click",'.reComment', function(e){
            document.querySelectorAll('.reComment_box')[this.dataset.num].classList.remove('changeNameVisible');
            document.querySelectorAll('.reComment')[this.dataset.num].classList.add('reComment_click');
            document.querySelectorAll('.reComment_cancel')[this.dataset.num].classList.remove('changeNameVisible');
        })        
        $(document).on("click",'.reComment_cancel', function(e){
            document.querySelectorAll('.reComment_box')[this.dataset.num].classList.add('changeNameVisible');
            document.querySelectorAll('.reComment')[this.dataset.num].classList.remove('reComment_click');
            document.querySelectorAll('.reComment_cancel')[this.dataset.num].classList.add('changeNameVisible');
        })

       

    </script>

</body>
</html>