<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="\main.css">
</head>
<%- include('nav.ejs') %>
<body>
    <div class="section2">
        
        <div style="height:60px;"></div>
        <div class="detail-bg">
            <h4 style="font-size: x-large; padding: 5px; margin: 0px; border-top: 1px solid #4a4a4a;
            border-bottom: 1px solid #4a4a4a;"><%= 글목록.title %></h4>
            <p style="font-size: small; margin-top: 5px;">작성자:  
                <img style="width: 25px; height: 25px; vertical-align: bottom;" src="/image/<%= 프로필 %>" onerror="this.src='/image/dinosaur.png'"/><%= 글목록.작성자 %></p>
            <div class="img-box">
                <img src="<%= 이미지주소 %>">
                <video src="<%= 동영상주소 %>" type="video/mp4" controls muted loop autoplay 
                playsinline preload="metadata" 
                style="width: 200px" onerror="this.style.display='none';">
                </video>
            </div>
            <p><%- 글목록.content.replace(/\n/g, '<br/>') %></p>
            <div>
                <div class="like-box">
                    <div id="likee">
                        <span name="like" class="like" data-postId="<%= 글목록._id %>">
                            <ion-icon class="likeIcon" style="color: white; 
                            font-size: 26px;" name="thumbs-up-outline"></ion-icon>
                        </span>
                        <p class="like" style="margin: 0px;"><%= 글목록.like %></p>
                    </div>
                </div>
            </div>
        </div> 

        <div class="comment">
            <!-- <form class="comment-write" action="/comment" method="POST"> -->
                <div class="ccontainer">
                    <div class="comment-bar">
                        <div class="comment-write" style="width:97%;">
                            <textarea style="width: 80%; float: left;" class="comment_2" id="comment-input" placeholder="엔터누르면 줄바꿈"></textarea>
                            <button style="float: right;" id="comment-btn"><ion-icon name="paper-plane-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
            <!-- </form> -->
            <div id="comment-box" style="margin: 0;">
                <%for (let i=0; i<댓글목록.length; i++){ %>
                    <p><%=  %></p>
                    <p style="text-align: left; margin-bottom: 20px; clear: both;">
                        <div class="profile">
                            <div class="profileImage" data-name="<%= 댓글목록[i].username %>" data-id="<%= 댓글목록[i].userId %>">
                                <button style="background: transparent; border: none;">
                                    <a class="btn-a" href="/chatroom?name=<%= 댓글목록[i].username %>&id=<%= 댓글목록[i].userId %>">
                                        <img style="cursor: pointer;" src="/image/<%= 댓글목록[i].userprofile %>">
                                    </a>
                                </button>
                            </div>
                            <div class="profile2">
                                <div class="profiletext"><%= 댓글목록[i].username %></div>
                            </div>
                        </div>
                        <div class="profile3"><%- 댓글목록[i].content.replace(/\n/g, '<br/>') %>
                            <p class="commentTime"><%= 댓글목록[i].date %></p>
                        </div>
                        <span name="add" id="commentDel" data-id="<%= 댓글목록[i]._id %>"
                            data-postId="<%= 댓글목록[i].postId %>" data-userId="<%= 댓글목록[i].userId %>">
                            <ion-icon style="font-size: 20px; color: #5a545c;" name="trash-outline"></ion-icon>
                        </span>
                        <br>
                    </p>
                    <p class="comment-line"></p>
                <% }%>
            </div>
        </div>
        <div class="infomation" style="background-color:rgba(0, 0, 0, 0.2);">
        </div>
    </div>
    <script type="module">
        import {makeSnowflake2} from '/snow.js';
        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake2(), 500 * i);
            }
        }       
      </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        var 지금누른작성글id = '<%= 글목록._id %>'
        var 지금누른작성글이름 = '<%= 글목록.title %>'
        var 지금누른작성글 = '<%- 글목록.content.replace(/(?:\r\n|\r|\n)/g, '<br>') %>'
        var 지울거 
        $(document).on("click","span[name='like']", function(e){
            var 보낼거 = {postid : 지금누른작성글id,
            }
            $.post('/addlike', 보낼거).then(()=> {
                reloadLike();
          })
        })
        var box = $(".profile2");
        $('.profile2').change(function(){
        })

        document.querySelector('#comment-btn').addEventListener('click', ()=>{
            var 댓글내용 = $('#comment-input').val()
            var 보낼거 = {
                parent : 지금누른작성글id,
                content : 댓글내용,
            }
            fetch('/comment', {
            method : 'POST',
            async : false,
            headers : {
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify(보낼거)
            })
            .then((r)=>r.text())
            .then((r)=>{
                if(r=="댓글저장"){
                    $('#comment-box').load(location.href+' #comment-box');
                    $('.comment_2').val('');
                } else {
                    alert('서버오류')
                }
            }) 
        })

        // document.getElementById("send-input").addEventListener("keyup", function(event) {
        //     if (event.keyCode === 13) {
        //         var 댓글내용 = $('#send-input').val();
        //         var 보낼거 = {
        //             parent : 지금누른작성글id,
        //             content : 댓글내용,
        //         }
        //         fetch('/comment', {
        //         method : 'POST',
        //         async : false,
        //         headers : {
        //             'Content-Type' : 'application/json'
        //         },
        //         body : JSON.stringify(보낼거)
        //         })
        //         .then((r)=>r.text())
        //         .then((r)=>{
        //             location.reload();
        //     })
        // }});

        $(document).on("click","span[name='add']", function(e){
            if (confirm('리얼루다가 삭제하시겠슴까나리?')==true){
                var 지울거 = {id : this.dataset.id,
                userId : this.dataset.userid}
                fetch('/deletee2', {
                method : 'POST',
                async : false,
                headers : {
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify(지울거)
                })
                .then((r)=>r.text())
                .then((r)=>{
                    // location.reload(true);
                    $('#comment-box').load(location.href+' #comment-box');
                }) 
            }
            else {
                return 0
            }
        }) 
        if(document.querySelector('.profile2').innerHTML.length>2){
            document.querySelector('.profile2').innerText.substr(0,3)
        }

        document.querySelector('.comment-bar').addEventListener('click', ()=>{
            if('<%= 현재접속자 %>'=="noUser"){
                if (confirm('댓글작성을 위해 로그인 페이지로 이동하시겠습니까탈레나')==true){
                    window.location.replace(`/login`) 
                }
            }
        })
        function reloadLike(){
            $('#likee').load(location.href+' #likee');
        }

    </script>
</body>
</html>