<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    <div style="height:60px;"></div>
    <!-- <form class="form-box" action="/edit?_method=PUT" method="POST">
        <h4>수정하기</h4>
        <input name="id" value = "<%= result._id %>" style="display: none">
        <input name="title" value = "<%= result.title %>">
        <input name="content" value = "<%= result.content %>">
        <button type="submit">수정</button>
        <input name="userId" value = "<%= result.작성자_id %>" style="display: none">
    </form> -->

    <form class="form-box" action="/edit?_method=PUT" method="POST">
        <h4>수정하기</h4>
        <input name="id" value = "<%= result._id %>" style="display: none">
        <input style="color: white;" name="title" value = "<%= result.title %>">
        <textarea style="white-space: pre-line; resize: none; width: 100%;
        height: 150px; background: transparent; border: 2px solid rgba(255,255,255,0.5);
        padding: 5px 0px 0px 5px; color: white; border-radius: 5px;" name="content"><%= result.content %></textarea>
        <!-- <input type="file" name="img1" accept="image/*"> -->
        <button style="background: transparent; padding: 10px 5px 0px 0px; float: right;" 
        type="submit"><ion-icon style="color: white;" name="paper-plane-outline"></ion-icon></button>
        <p style="clear: both;"></p>
        <input name="userId" value = "<%= result.작성자_id %>" style="display: none">
    </form> 
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>