<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>
<%- include('nav.ejs') %>
<body class="grey-bg">
    <div class="section2">
        <div style="height:60px;"></div>
        <form class="form-box form-box4"action="/edit?_method=PUT" method="POST">
            <h4>수정하기</h4>
            <input name="id" value = "<%= result._id %>" style="display: none">
            <input style="color: #EFEFEF;border: 1px #494a51 solid;
            background: transparent;" name="title" value = "<%= result.title %>">
            <textarea name="content"><%= result.content %></textarea>
            <!-- <input type="file" name="img1" accept="image/*"> -->
            <button type="submit">
                <ion-icon style="color: #87FCC4;" name="paper-plane-outline"></ion-icon>
            </button>
            <p style="clear: both;"></p>
            <input name="userId" value = "<%= result.작성자_id %>" style="display: none">
        </form> 
    </div>
    <script type="module">
        import {makeSnowflake2} from '/snow.js';

        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake2(), 500 * i);
            }
        }      
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>