<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="\main.css">
</head>
<%- include('nav.ejs', { isRead: isRead }) %>
<body>
    <body style="position: relative;">
        <div class="section2">
            <div style="height:60px;"></div>
            <%for (let i=0; i<글목록.length; i++){ %>
                <div class="white-bg">
                    <div class="list-box">
                    <% if(글목록[i].vidName !== undefined){ %>
                        <a href="/detail/<%= 글목록[i]._id %>">
                            <img class="list-left" src="<%= resizeImg[i] %>" onerror="this.src='/image/dinosaurVid.webp'" loading="lazy" />
                        </a>
                    <% } else { %>
                        <a href="/detail/<%= 글목록[i]._id %>">
                            <img class="list-left" src="<%= resizeImg[i] %>" onerror="this.src='/image/dinosaur.webp'" style="max-width: 100%; max-height: 100%; margin-bottom: 4px;" loading="lazy" />
                        </a>
                    <% } %>
                        <h4 class="list-right">
                            <a href="/detail/<%= 글목록[i]._id %>"><%= 글목록[i].title %></a>
                            <span class="delete" data-id="<%= 글목록[i]._id %>">
                                <ion-icon style="font-size: 20px;" name="trash-outline"
                                data-id="<%= 글목록[i]._id %>"></ion-icon>
                            </span>
                            <p>작성자: <%= 글목록[i].작성자 %></p>
                            <div>
                                <button class="btn" data-id="<%= 글목록[i].작성자_id %>" 
                                    data-name="<%= 글목록[i].작성자 %>">
                                    <a class="btn-a" href="/chat/matches?name=<%= 글목록[i].작성자 %>&id=<%= 글목록[i].작성자_id %>">채팅하기</a>
                                </button>
                            </div>
                        </h4>
                    </div>
                    
                <p style="clear: both; margin: 0px;"></p>
                </div>      
            <% }%>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>