<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ьК╣ыодыЛИэЛ░</title>
    <link rel="stylesheet" href="\main.css">
</head>
<%- include('nav.ejs') %>
<body>
    <body style="position: relative;">
        <div class="section2">
            <div style="height:60px;"></div>
            <%for (let i=0; i<ъ╕АыкйыбЭ.length; i++){ %>
                <div class="white-bg">
                    <div class="list-box">
                    <% if(ъ╕АыкйыбЭ[i].vidName !== undefined){ %>
                        <a href="/detail/<%= ъ╕АыкйыбЭ[i]._id %>">
                            <img class="list-left" src="/image/<%= ъ╕АыкйыбЭ[i].imgName %>" onerror="this.src='/image/dinosaurVid.png'" />
                        </a>
                    <% } else { %>
                        <a href="/detail/<%= ъ╕АыкйыбЭ[i]._id %>">
                            <img class="list-left" src="/image/<%= ъ╕АыкйыбЭ[i].imgName %>" onerror="this.src='/image/dinosaur.png'" />
                        </a>
                    <% } %>
                        <h4 class="list-right">
                            <a href="/detail/<%= ъ╕АыкйыбЭ[i]._id %>"><%= ъ╕АыкйыбЭ[i].title %></a>
                            <a href="/edit/<%= ъ╕АыкйыбЭ[i]._id %>">тЬПя╕П</a>
                            <span class="delete" data-id="<%= ъ╕АыкйыбЭ[i]._id %>">ЁЯЧСя╕П</span>
                            <p>ьЮСьД▒ьЮР: <%= ъ╕АыкйыбЭ[i].ьЮСьД▒ьЮР %></p>
                            <form action="/chat" method="POST">
                                <button type="submit" class="btn" data-id="<%= ъ╕АыкйыбЭ[i].ьЮСьД▒ьЮР_id %>"
                                    data-title="<%= ъ╕АыкйыбЭ[i].title %>">ьЮСьД▒ьЮРыЮС ь▒ДэМЕэХШъ╕░</button>
                            </form>
                        </h4>
                    </div>
                    
                <p style="clear: both; margin: 0px;"></p>
                </div>      
            <% }%>

    <!-- <div class="list-box">
        <a href="/plus">+тЬПя╕П</a>
    </div> -->

    <!-- <a href="/list/next/<%= ъ╕АыкйыбЭ[ъ╕АыкйыбЭ.length-1]._id %>">ыЛдьЭМ</a> -->

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        
    </script>
    

</body>


</html>