<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ьК╣ыодыЛИэЛ░</title>
    <link rel="stylesheet" href="\main.css">
</head>

<body class="grey-bg">

    <%- include('nav.ejs') %>

    <!-- ejs эММьЭ╝ьЧРьДа ьХДым┤ыН░ьДЬыВШ ьЮРы░ФьКдэБмыж╜эК╕ым╕ы▓Х ьВмьЪй ъ░АыКе  -->
    <%for (let i=0; i<ъ╕АыкйыбЭ.length; i++){ %>
        <div class="white-bg">
            <div class="list-box">
            <h4>
                <a href="/detail/<%= ъ╕АыкйыбЭ[i]._id %>"><%= ъ╕АыкйыбЭ[i].title %></a>
                <a href="/edit/<%= ъ╕АыкйыбЭ[i]._id %>">тЬПя╕П</a>
                <span class="delete" data-id="<%= ъ╕АыкйыбЭ[i]._id %>">ЁЯЧСя╕П</span>
            </h4>
            <p><%= ъ╕АыкйыбЭ[i].content %></p>
            </div>
        </div>      
    <% }%>

    <div class="list-box">
        <a href="/plus">+тЬПя╕П</a>
    </div>

    <!-- <a href="/list/next/<%= ъ╕АыкйыбЭ[ъ╕АыкйыбЭ.length-1]._id %>">ыЛдьЭМ</a> -->

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        
    </script>
    

</body>


</html>